*, *::before, *::after {
  box-sizing: border-box;
}
body{
	background-color:#6a6674;
	font-family: 'Slabo 27px', serif;
	font-size:3.25em;
	padding:30px;
	margin:15px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Corben', cursive;
}
#title{
	font-size:150px;
}
.banner{
	background-color:#d0bfc8;
	margin:10px;
	padding:20px;
	border: 5px solid black;
	text-align:center;
}

p,ul{
	font-size:22px;
	padding:20px;
	color:white;
	line-height:25px;
}
.text{
	margin:80px;
	background:rgba(106,102,116, 0.7);
	background-color:#5b5667;
	padding:15px;
	border:2px solid black;
	box-shadow: 10px 10px black;
}

.topnav {
  background-color:#5b5667;
  overflow: hidden;
  border: 5px solid black;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}
.topnav a:hover {
  background-color: #ded4ea;
  color: black;
}
.topnav a.active {
  background-color:#d0bfc8;
  color: black;
}

.box{
	background-image: url("media/images/elements/background.png");
	background-repeat: no-repeat;
	background-size: contain;
	text-align:center;
	padding:20px;
	line-height:100px;
	margin-left:60px;
}

.left{
	float: left;
	padding:15px;
	margin:15px;
}
.right{
	float: right;
	padding:15px;
	margin:15px;
}


.categories a{
	color:white;
	text-decoration:none;
	font-family:Verdana,"Sans Serif";
	background-color:#d0bfc8;
	padding: 15px;
	font-size:36px;
}

.categories a:hover{
	color:black;
	text-decoration:none;
	font-family:Verdana,"Sans Serif";
	background-color:#ded4ea;
	padding: 15px;
}


